{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block bodyClass %}class="other-pages"{% endblock %}

{% block body %}
    <div class="page zoom mx-auto" style="max-width: 50%;">
        <h1 class="text-center">Episode index</h1>

        <table class="table form-control mt-3 mx-auto">
            <thead>
                <tr>
                    <th>Série</th>
                    <th>Episode</th>
                    <th>N°</th>
                    <th>Synopsis</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            <div class="form">
            {% for episode in episodes %}
                <tr>
                    <td>{{ episode.season.program.title }}</td>
                    <td>{{ episode.title }}</td>
                    <td>{{ episode.number }}</td>
                    <td>{{ episode.synopsis }}</td>
                    <td>
                        <a href="{{ path('app_episode_show', {'id': episode.id}) }}">voir</a>
                        <br>
                        <a href="{{ path('app_episode_edit', {'id': episode.id}) }}">modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </div>
            </tbody>
            <a href="{{ path('app_episode_new') }}">+ nouvelle épisode</a>
        </table>

    <a href="{{ path('app_episode_new') }}">+ nouvelle épisode</a>
</div>
{% endblock %}
