{% extends 'base.html.twig' %}

{% block title %}Season{% endblock %}

{% block body %}
    <div class="page zoom mx-auto" style="max-width: 50%;">
        <h1 class="mb-3">Saison</h1>

        <table class="table form-control mt-3 mx-auto">
            <tbody>
                <tr>
                    <th>Série</th>
                    <td>{{ season.program.title }}</td>
                </tr>
                <tr>
                    <th>Saison</th>
                    <td>{{ season.number }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{{ season.year }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ season.description }}</td>
                </tr>
            </tbody>
        </table>

        {{ include('season/_delete_form.html.twig') }}

        <a href="{{ path('app_season_index') }}">retour à la liste</a>
{#        <a href="{{ path('app_season_index') }}">back to list</a>#}
        <br>
        <a href="{{ path('app_season_edit', {'id': season.id}) }}">edit</a>

    </div>
{% endblock %}
