{% extends 'base.html.twig' %}

{% block title %}Episode #{{ episode.number }}{% endblock %}

{% block body %}
    <div class="page zoom">
        <div class="media">
            <div class="media-body">
                <h1 class="mt-0"> <a class="zoomLink" href="{{ path('program_season_show', {'slug': program.slug, 'season': season.id}) }}">Episode {{ episode.number }} </a>  / Saison {{ season.number }}  de {{ program.title }}</h1>
                <p>{{ episode.title }}</p>
                <p>{{ episode.synopsis }}</p>

            </div>

            <a href="{{ path('program_season_show', {'slug': program.slug, 'season': season.id}) }}">
                Retour à la page de la série
            </a>
        </div>
    </div>
{% endblock %}