{# <!doctype html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <title>Wild Series</title>
</head>
<body>
   <h1>{{ message }}</h1>
</body>
</html> #}
{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block bodyClass %}class="index-page"{% endblock %}

{% block body %}

    <div class="titre">
        {% if app.user %}
            <h1 class="h2 mt-xl-5 mb-3 font-weight-normal"> Bienvenue {{ app.user.email }} </h1>
    </div>
    <div class="centered page mb-3">
            <h3>Dernières séries :</h3>
    </div>
{#            <div class="sideBySide">#}
            <div class="homesideBySide">
                {% for program in latestPrograms %}
{#                    <div class="grid">#}
                    <ul class="homeOneUnderTheOther">
{#                        <h4 class="mr-3">{{ program.title }}</h4>#}
                        <h4 class="mr-3"><a class="zoomLink" href="{{ path("program_show", { slug: program.slug }) }}"> {{ program.title }} </a></h4>
                        <img class="sizePicture" src="{{ vich_uploader_asset(program, 'posterFile')}}" alt="{{ program.title }} poster">
                    </ul>
{#                    </div>#}
                {% endfor %}
            </div>

        {% endif %}
    </div>

{% endblock %}